@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, body > div {
    height: 100%;
    background: #030815;

}

@layer utilities {
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    .fade-in {
        animation: fadeIn ease .5s;
        -webkit-animation: fadeIn ease .5s;
        -moz-animation: fadeIn ease .5s;
        -o-animation: fadeIn ease .5s;
        -ms-animation: fadeIn ease .5s;
    }

    .neon-circle {
        max-width: 440px;
        width: 100%;
        height: 440px;
        border-radius: 15rem;
        background: linear-gradient(197.37deg, #7450DB -0.38%, rgba(138, 234, 240, 0) 101.89%),
        linear-gradient(115.93deg, #3E88F6 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%),
        radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.7) 0%, rgba(62, 158, 246, 0.182) 52.16%, rgba(62, 246, 246, 0) 100%),
        linear-gradient(306.53deg, #2EE4E3 19.83%, rgba(46, 228, 227, 0) 97.33%);
        background-blend-mode: normal,normal,normal,normal,normal,normal;
        background-position-x: center;
        background-position-y: top;
        filter: blur(50px);
        opacity: 0.5;
        z-index: 0;
    }

}
